## Section02 리스트의 기본

#### **리스트**
- 순서(번호 - >>>> 인덱스, 0부터 순서가 생김)

In [1]:
a, b, c, d = 0, 0, 0, 0
hap = 0

a= int(input("1번째 숫자: "))
b= int(input("2번째 숫자: "))
c= int(input("3번째 숫자: "))
d= int(input("4번째 숫자: "))

hap = a + b + c + d
print("합계 ==> %d" % hap)

1번째 숫자:  10
2번째 숫자:  20
3번째 숫자:  30
4번째 숫자:  40

합계 ==> 100

In [2]:
a = ["1", 1, 1000, "파", "이", "썬"]

In [3]:
type(a)

list

In [6]:
# index 번호를 입력
a[0]

'1'

In [7]:
a[4], a[5]

('이', '썬')

**for in 과 함께 사용!**

In [8]:
for i in a:
    print(i)

1
1
1000
파
이
썬

In [9]:
b = [a, 1, 3, 5, 7, 9]

In [11]:
b  # list 안에 다른 list 넣을 수 있음

[['1', 1, 1000, '파', '이', '썬'], 1, 3, 5, 7, 9]

**빈 리스트 생성**

In [27]:
a = []

In [28]:
type(a)

list

In [29]:
# 빈 리스트에 값 입력(.append 함수 사용)
a.append(1)
a.append("둘")
a.append(3)

In [30]:
a

[1, '둘', 3]

In [31]:
for i in a:
    print(i)

1
둘
3

In [32]:
a[0]

1

In [33]:
for i in range(0, 3):
    print(a[i])

1
둘
3

In [34]:
len(a)  # 몇개가 들어있는지 확인하는 함수

3

In [38]:
for i in range(0, len(a), ):
    print(a[i])

1
둘
3

In [51]:
aa = []
for i in range(0, 4):
    aa.append(0)
hap = 0

for i in range(0, 4):
    aa[i] = int(input(str(i + 1) + "번째 숫자: "))
    hap = hap + aa[i]
          
print("합계 ==> %d" % hap)

1번째 숫자:  10
2번째 숫자:  20
3번째 숫자:  30
4번째 숫자:  40

합계 ==> 100

< P.192 실습 - 역순으로 된 인덱스 >

In [53]:
aa = []
bb = []
value = 0

for i in range(0, 100):
    aa.append(value)
    value += 2
    
for i in range(0, 100):
    bb.append(aa[99 - i])
print("bb[0]에는 %d이, bb[99]에는 %d이 입력됩니다." % (bb[0], bb[99]))    # ?????????

bb[0]에는 198이, bb[99]에는 0이 입력됩니다.

### 리스트 인덱싱

In [54]:
aa = [10, 20, 30, 40]
aa

[10, 20, 30, 40]

In [64]:
aa[0], aa[2], aa[1]  # 인덱스 0부터 시작

(10, 30, 20)

In [65]:
aa[-1], aa[-2]  # 역방향

(40, 30)

In [66]:
aa[0:1]  # 인덱스 범위 "start:stop"  끝은 stop-1

[10]

In [67]:
aa[1:]  # 1부터 전부

[20, 30, 40]

In [68]:
aa[:2]  # 2전까지 전부

[10, 20]

In [69]:
aa[:]  # 전부다

[10, 20, 30, 40]

In [72]:
_ = aa[:]   # copy!!
_

[10, 20, 30, 40]

#### in, not in

In [76]:
11 in aa  # aa 안에 11이 있는가?

False

In [77]:
11 not in aa  # aa 안에 11이 없는가?

True

#### broadcasting - 모든 변수에 영향을 미치는 것

In [86]:
a = [10, 20, 30, 40]  
b = [50, 60, 70, 80]
a, b

([10, 20, 30, 40], [50, 60, 70, 80])

In [85]:
print(a * 2)  # a를 두번 복제

[10, 20, 30, 40, 10, 20, 30, 40]

In [84]:
a + b

[10, 20, 30, 40, 50, 60, 70, 80]

#### step - 건너뛰어서 출력

In [89]:
a = [10, 20, 30, 40, 50, 60, 70, 80]
a[::2]   # 처음부터 2칸씩 건너뛰기

[10, 30, 50, 70]

In [92]:
a[::-2]  # 뒤에서부터 2칸씩 건너뛰기

[80, 60, 40, 20]

In [95]:
a[2::2]  # 두번째자리부터 2칸씩 건너뛰기

[30, 50, 70]

#### < 값의 변경 >
- 불변형 자료: string, tuple
- 가변형 자료: list, dict

### list() 함수

In [98]:
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [100]:
range(1, 100)

range(1, 100)

In [99]:
nums = list(range(1, 100))
nums[:5]

[1, 2, 3, 4, 5]

In [1]:
a = list(range(1, 10))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
len(a)

9

In [3]:
a[2] = 300  # 2의 자리에 300을 추가해라
print(a)

[1, 2, 300, 4, 5, 6, 7, 8, 9]

In [4]:
len(a)

9

In [5]:
a[1:2] = [200, 201]   # [1:2] -> 1의 자리에서 2 - 1개 즉 1사이에 추가해라
print(a)

[1, 200, 201, 300, 4, 5, 6, 7, 8, 9]

In [6]:
len(a)

10

In [7]:
a[4] = [200, 201]  # 4번째 자리에 추가해라
print(a)

[1, 200, 201, 300, [200, 201], 5, 6, 7, 8, 9]

In [8]:
del(a[4])  # a[4] 삭제해라
print(a)

[1, 200, 201, 300, 5, 6, 7, 8, 9]

In [9]:
del(a[3:5])  # 3번째 자리부터 4번째 자리까지(5-1) 삭제해라
print(a)

[1, 200, 201, 6, 7, 8, 9]

In [10]:
a[0] = []
print(a)

[[], 200, 201, 6, 7, 8, 9]

In [11]:
a[0:3] = []
print(a)

[6, 7, 8, 9]

### **집계 함수**
- sum() max() min()
- len()

In [1]:
a = [-100, -5, 9, 999, 777, -678]

In [2]:
len(a)

6

In [3]:
del sum

NameError: name 'sum' is not defined

In [4]:
# for 써서 합계!
hup = 0
for i in a:
    hup += i
print(hup)

1002

In [5]:
# for 써서 합계!
count = 0
for i in a:
    count += 1
print(count)

6

In [6]:
sum(a)

1002

In [7]:
min(a)

-678

In [8]:
max(a)

999

< P.197 실습 >

In [9]:
myList = [30, 10, 20]
print("현재 리스트: %s" % myList)

현재 리스트: [30, 10, 20]

In [10]:
myList.append(40)  # 맨 뒤에 항목 추가
print("append(40) 후의 리스트: %s" % myList)

append(40) 후의 리스트: [30, 10, 20, 40]

In [11]:
myList.pop()  # 맨 뒤에 있는 항목 삭제
print("pop() 후의 리스트: %s" % myList)

pop() 후의 리스트: [30, 10, 20]

In [12]:
myList.sort()  # 항목 정렬
print("sort() 후의 리스트: %s" % myList)

sort() 후의 리스트: [10, 20, 30]

In [13]:
myList.reverse()  # 역순으로 정렬
print("reverse() 후의 리스트: %s" % myList)

reverse() 후의 리스트: [30, 20, 10]

In [14]:
myList.insert(2, 222)  # 2번째 자리에 222 추가
print("insert(2, 222) 후의 리스트: %s" % myList)

insert(2, 222) 후의 리스트: [30, 20, 222, 10]

In [15]:
myList.extend([77, 88, 77])  # 맨 뒤에 리스트 추가
print("extend([77, 88, 77]) 후의 리스트: %s" % myList)

extend([77, 88, 77]) 후의 리스트: [30, 20, 222, 10, 77, 88, 77]

In [16]:
myList.remove(222)  # 222 제거(222가 여러개일 경우 첫번째값 삭제)
print("remove(222) 후의 리스트: %s" % myList)

remove(222) 후의 리스트: [30, 20, 10, 77, 88, 77]

#### sorted vs list.sort()
- sorted(리스트) : 리스트는 그대로 두고 정렬된 결과만 반환
- list.sort() : 리스트 자체를 정렬

In [17]:
myList = [30, 10, 20]

In [18]:
sorted(myList)  # 결과만 반환

[10, 20, 30]

In [19]:
myList

[30, 10, 20]

In [20]:
myList.sort()  # 리스트 정렬

In [21]:
myList

[10, 20, 30]

## Section03 2차원 리스트

In [22]:
a = [[1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12]]

In [23]:
len(a)

3

In [24]:
a[0], a[1], a[1:3]

([1, 2, 3, 4], [5, 6, 7, 8], [[5, 6, 7, 8], [9, 10, 11, 12]])

In [26]:
a[0][1]  # 가로 0번째 줄에서 세로 1번째 숫자

2

**P.200 7-6번**

In [30]:
List1 = []
List2 = []
value = 1
for i in range(0, 3):
    for k in range(0, 4):
        List1.append(value)
        value += 1
    List2.append(List1)
    List1 = []
    
for i in range(0, 3):
    for k in range(0, 4):
        print("%3d" % List2[i][k], end=" ")
    print("")

  1   2   3   4
  5   6   7   8
  9  10  11  12

## Section04 튜플
- 튜플은 소괄호()로 생성
- 불변형이라 값 수정 X, 읽기만 가능

In [56]:
tt1 = (1, 2, 3, 4, 5)
tt1

(1, 2, 3, 4, 5)

In [57]:
a, b, c = 0, 10, 5
a, b, c

(0, 10, 5)

In [58]:
type(tt1)

tuple

In [59]:
tt1 = ()
tt1

()

In [60]:
tt2 = 10, 20, 30
tt2

(10, 20, 30)

In [61]:
tt2 = 10  # 값을 변환
tt2

10

In [62]:
tt2 = 10,  # 튜플이 됨
tt2

(10,)

In [63]:
tt2 = 10, 20, 30, 40, 50, 60, 70
tt2

(10, 20, 30, 40, 50, 60, 70)

In [64]:
tt2[0], tt2[2]

(10, 30)

In [65]:
tt2[2:5]

(30, 40, 50)

In [66]:
tt2[-3]  # 뒤에서 3번째

50

In [67]:
tt2[-2:]

(60, 70)

In [48]:
tt2[0] = 1000   #불변항이라 추가 안됨!
tt2

TypeError: 'tuple' object does not support item assignment

In [46]:
tt2[1:2] = (10, 20)
tt2

TypeError: 'tuple' object does not support item assignment

#### **브로드캐스팅!**

In [52]:
tt2 = ('A', 'B')
tt1 = (10, 20, 30, 40)

In [53]:
tt2 * 2

('A', 'B', 'A', 'B')

In [54]:
tt2 + tt1

('A', 'B', 10, 20, 30, 40)

In [69]:
tt2 = tuple(range(1, 10))
tt2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### **리스트 <-> 튜플 변환**
- list()
- tuple()

In [70]:
li = [1,2,3,4,5]
t1 = (-9, -8, -7, -6)

In [74]:
tuple(li)  # list를 tuple로 변환

(1, 2, 3, 4, 5)

In [75]:
list(t1)  # tuple를 list로 변환

[-9, -8, -7, -6]

## Section05 딕셔너리
- 쌍 2개가 하나로 묶인 자료구조(ex "apple:사과" 처럼 의미 있는 두 값)
- 키(key) 와 값(value) 자료
- key 값으로 찾기 때문에 순서 상관없음
- 딕셔너리변수 = {키1:값1, 키2:값2, 키3:값3, ...}

In [76]:
li = []
t1 = ()
type(li), type(t1)

(list, tuple)

In [77]:
dic1 = {}
type(dic1)

dict

In [79]:
dic1 = {1:"a", 2:"b", 3:"c"}
dic1

{1: 'a', 2: 'b', 3: 'c'}

In [80]:
dic1[1]

'a'

In [81]:
dic1 = {"a":1, "b":2, "c":3}
dic1

{'a': 1, 'b': 2, 'c': 3}

In [84]:
dic1["c"]

3

In [85]:
student1 = {"학번":1000, "이름":"홍길동", "학과":"컴퓨터학과"}
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [86]:
student1["학과"]

'컴퓨터학과'

In [90]:
student1["연락처"] = "010-1111-2222"   # 추가할때 딕셔너리명[키]= 값 형식으로 추가
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '010-1111-2222'}

In [99]:
student1["연락처"] = ""
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': ''}

In [100]:
del student1["연락처"]
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [101]:
student1["학번"]
student1["이름"]
student1["학과"]

'컴퓨터학과'

In [102]:
student1.get("이름")

'홍길동'

In [117]:
student1["주소"]  # 딕셔너리안에 주소가 없어서 오류

KeyError: '주소'

In [118]:
student1.get("주소")  # get함수를 쓰면 오류대신 결과값 없음

In [119]:
student1.keys()  # 딕셔너리의 모든 키를 반환

dict_keys(['학번', '이름', '학과'])

In [120]:
student1.values()  # 딕셔너리의 모든 값을 리스트로 반환

dict_values([1000, '홍길동', '컴퓨터학과'])

In [121]:
student1.items()  # 딕셔너리의 모든 값을 튜플 형태로 반환

dict_items([('학번', 1000), ('이름', '홍길동'), ('학과', '컴퓨터학과')])

In [122]:
"홍길동" in student1  # 딕셔너리 안에 "홍길동"이 있는가

False

In [123]:
"이름" in student1  # 딕셔너리 안에 "이름"이 있는가

True

In [124]:
for key in student1.keys():
    print(student1[key])

1000
홍길동
컴퓨터학과

In [125]:
for k, v in student1.items():
    # print(student1[k])
    print(k, v)

학번 1000
이름 홍길동
학과 컴퓨터학과

**P.212 7-10번**

In [130]:
foods = {"떡볶이":"오뎅",
         "짜장면":"단무지",
         "라면":"김치",
         "피자":"피클",
         "맥주":"땅콩",
         "치킨":"치킨무",
         "삼겹살":"상추"};

while True:
    myfood = input(str(list(foods.keys())) + "중 좋아하는 음식은?")
    if myfood in foods:
        print("<%s> 궁합 음식은 <%s>입니다." % (myfood, foods.get(myfood)))
    elif myfood == "끝":
        break
    else:
        print("그런 음식이 없습니다. 확인해보세요!")

['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']중 좋아하는 음식은? 삼겹살

<삼겹살> 궁합 음식은 <상추>입니다.

['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']중 좋아하는 음식은? 짬뽕

그런 음식이 없습니다. 확인해보세요!

['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']중 좋아하는 음식은? 끝

## Section06 심화 내용

#### 세트
- 키만 모아 놓은 딕셔너리의 특수한 형태
- {} 사용하지만 : 없이 값을 입력
- 중복된 키는 자동으로 하나만 남음

In [131]:
mySet1 = {1, 2, 3, 3, 3, 4}
mySet1

{1, 2, 3, 4}

In [134]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {4, 5, 6, 7}

print(mySet1 & mySet2)  # 교집합
print(mySet1 | mySet2)  # 합집합
print(mySet1 - mySet2)  # 차집합
print(mySet1 ^ mySet2)  # 대칭 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

#### 컴프리헨션
- 값이 순차적인 리스트를 한 줄로 만드는 방법

In [135]:
numlist = [num * 2 for num in range(1, 6)]
numlist

[2, 4, 6, 8, 10]

In [136]:
numlist = [num for num in range(1, 21) if num % 3 == 0]
numlist

[3, 6, 9, 12, 15, 18]

#### zip 함수
- 동시에 여러 리스트 접근

In [137]:
foods = ["떡볶이", "짜장면", "라면", "피자", "맥주", "치킨", "삼겹살"]
sides = ["오뎅", "단무지", "김치"]
for food, side in zip(foods, sides):
    print(food, "-->", side)

떡볶이 --> 오뎅
짜장면 --> 단무지
라면 --> 김치

In [139]:
foods = ["떡볶이", "짜장면", "라면", "피자", "맥주", "치킨", "삼겹살"]
sides = ["오뎅", "단무지", "김치"]
tupList = list(zip(foods, sides))
dic = dict(zip(foods, sides))
print(tupList)
print(dic)

[('떡볶이', '오뎅'), ('짜장면', '단무지'), ('라면', '김치')]
{'떡볶이': '오뎅', '짜장면': '단무지', '라면': '김치'}

#### **리스트 복사 : 얕은 복사 / 깊은 복사**
- copy by value(깊은 복사) -> 새로운 메모리 공간을 복사
- copy by reference(얕은 복사) -> 동일한 메모리 공간 공유

In [140]:
li = [1, 2, 3, 4]
li2 = li

In [141]:
li

[1, 2, 3, 4]

In [142]:
li2

[1, 2, 3, 4]

In [145]:
id(li)  # id -> 메모리 주소

1197872011648

In [146]:
id(li2)

1197872011648

In [149]:
# 얕은 복사
oldList = ["짜장면", "탕수육", "군만두"]
newList = oldList
print(newList)
oldList[0] = "짬뽕"
oldList.append("깐풍기")
print(newList)
print(oldList)

['짜장면', '탕수육', '군만두']
['짬뽕', '탕수육', '군만두', '깐풍기']
['짬뽕', '탕수육', '군만두', '깐풍기']

In [152]:
# 깊은 복사
oldList = ["짜장면", "탕수육", "군만두"]
newList = oldList[:]
print(newList)
oldList[0] = "짬뽕"
oldList.append("깐풍기")
print(newList)
print(oldList)

['짜장면', '탕수육', '군만두']
['짜장면', '탕수육', '군만두']
['짬뽕', '탕수육', '군만두', '깐풍기']